OPENAI_API_KEY = "your_openAi_key"


WEATHER_API_KEY = ""
WEATHER_API_BASE_URL= "https://api.weatherapi.com/v1"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="qs_ai_agent"


LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL="https://cloud.langfuse.com"